@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}
@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 50vw;
    }
    .card-login{
        width: 90%;
    }
}